.container-fluid{
    margin-bottom: 0;

}
footer{
    background-color:rgba(3, 7, 6, 0.82);
    color:#fff;
    height: 111px;
    padding:20px;
    font-size: .7em;
}
.jareina{
    font-size: .7em;
   
}
i,a{
    color:white;
}
a:hover i{
    color:#B9B9C3;
}
.jareina p{
    position: absolute;
    
    right: 5px;
}

ul {
    list-style: none;

}
ul li{
    display: inline;
   
}
ul li a{
    display:block;
    text-decoration: none;
}
ul li:hover a{
    color:rgba(73, 133, 115, 0.82);
}

@media(max-width: 660px) { 
    .jareina p{
    position: relative;
    top: 50px;
    right: 0px;
    }
    i{
        font-size: .9em;
    }
}