.container-fluid{
    margin-bottom: 0;
     overflow-x:hidden;
}
img{
    width: 185px;
    cursor: pointer;
}
footer{
    background-color:rgba(3, 7, 6, 0.82);
    color:#fff;
    height: auto;
 
    font-size: .7em;
}


.centro,.izquierda,.derecha{
    box-sizing: content-box;
    padding:1%;
    text-align: center;
}
.jareina{
    font-size: .9em;
   
}
i,a{
    color:white;
}
a:hover i{
    color:#B9B9C3;
}
.jareina {
    background-color:rgb(3, 0, 0);
    padding:2%;
}

ul {
    list-style: none;

}

ul li a{
    
    text-decoration: none;
}
ul li:hover a{
    color:rgba(73, 133, 115, 0.82);
}
@media(max-width: 768px)  { 
        footer{
            height: 170px;
        }
   
   
}
@media(max-width: 800px) { 
    footer{
        height: 300px;
    }
  
 
}

@media(max-width: 660px) { 
    footer{
        height: 300px;
    }
  

    i{
     
        text-align:center;
    }
    ul li a {
        text-align: center;
    }
}