footer{
    background-color:#4B6A67;
    color:#fff;
    height: 111px;
    padding:20px;
}
.jareina{
    font-size: .7em;
   
}
i,a{
    color:white;
}
a:hover i{
    color:#B9B9C3;
}
.jareina p{
    position: absolute;
    top: 70px;
    right: 5px;
}

@media(max-width: 660px) { 
    .jareina p{
    position: relative;
    top: 50px;
    right: 0px;
    }
}