.home{
    background:#fff;
    height:710px;
    overflow-x: hidden;
    box-sizing: content-box;
}
.titulo{
    background-color:#0A5C6E;
     color:#FFFFFF;
     font-weight: 400;
     padding:10px;
}
.slider{
    height: 400px;
}
@media (max-width:360px){
      .home{
          height: 600px;
      }
     .titulo{
         height: 240px;
     }
     .slider{
        height: 400px;
    }
    }

