.home{
    background:#fff;
    
    overflow-x: hidden;
    box-sizing: content-box;
}
.titulo{
    background-color:#0A5C6E;
     color:#FFFFFF;
     font-weight: 400;
     padding:10px;
     font-family: 'Anton', sans-serif;
}

@media (max-width:360px){
     
     .titulo{
         height: 300px;
     }

    }

