.container-fluid .row{
    margin:50px 0 0 0;
    box-sizing: content-box;
}

.cajaProyecto:hover{

    background-color: #006f8a;
    
}
.cajaProyecto:hover div.descripcion{
    color:white;
}
.cabeceraProyecto{

    color:#ffbc49;
}
img{
    width: 10%;
}
.marco{
    margin-top:50px;
}
iframe.pagina{
    width:100%;
    height: 590px;
    border:none;
    margin-top:20px;

}

a{
    margin: 10px;
    
}

.descripcion,.titulo{
    padding:12px;
}

a.btn.btn-info{
    background-color:#006f8a;
    border:2px dotted #ffbc49;
    color:#fff;
    padding:10px;
}
a.btn.btn-info:hover{
    border:2px solid #ffbc49;
    background-color:#006f8a;
    color:white;
}

.video-responsive {
    
        position: relative;
      padding-bottom: 36.25%;/*  16/9 ratio */
       margin-top: 49px;
        padding-top: 70px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
        }
        
        .video-responsive iframe,
        .video-responsive object,
        .video-responsive embed {
        position: absolute;
        top: 0;
        left: 0;
   
      
        }
@media (max-width: 420px) { 
    img{
        width:10%;
    }
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
 }
    
