<div class="container-fluid"

*ngIf="datos.length>0">

  <div class="row" *ngFor="let dato of datos">

      <div class="col-md-12 col-xs-12 cabeceraProyecto">
      <div class="col-md-6 col-xs-12 titulo">
        <h2><img [src]="logo.logo" 
          class="img-responsive" alt="logo angular">
           {{dato.nombreProyecto}}</h2>
        
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="descripcion">
        {{dato.descripcionProyecto}}
       
        </div>
        <a class="btn btn-info" 
        [href]="dato.urlProyecto" 
        target="_blank">Código</a> 
      </div>

</div>


      <div class="col-md-12 col-xs-12 marco" *ngIf="dato.tipoMedia === 'pagina'">
        
          
            <iframe *ngIf="dato.pageProyecto" [src]="dato.pageProyecto" class="pagina animated fadeIn">
              <p>Your browser does not support iframes.</p>
            </iframe>
          </div>

          <div class="col-md-10 col-md-offset-3 col-xs-12 video-responsive" *ngIf="dato.tipoMedia === 'video'">  
            <iframe *ngIf="dato.urlVideo" width="660" height="415"
             [src]="dato.urlVideo" 
             frameborder="0" allowfullscreen></iframe>

      </div>
  </div>
</div>







