.container-fluid .row{
    margin:50px 0 0 0;
    overflow-x:hidden;
}
.cabeceraProyecto{
    background-color: rgba(10, 2, 2, 0.71);
    color:white;
}
img{
    width: 5%;
}
.marco{
    margin-top:50px;
}
iframe.pagina{
    width:100%;
    height: 590px;
    border:none;
    margin-top:20px;

}

a{
    margin: 10px;
    
}

.descripcion,.titulo{
    padding:12px;
}

a.btn.btn-info{
    border:2px dotted grey;
}
a.btn.btn-info:hover{
    border:2px solid orange;
    background-color:tomato;
    color:white;
}

.video-responsive {
    
        position: relative;
      padding-bottom: 36.25%;/*  16/9 ratio */
       margin-top: 49px;
        padding-top: 70px; /* IE6 workaround*/
        height: 0;
        overflow: hidden;
        }
        
        .video-responsive iframe,
        .video-responsive object,
        .video-responsive embed {
        position: absolute;
        top: 0;
        left: 0;
   
      
        }
@media (max-width: 420px) { 
    img{
        width:10%;
    }
    .video-responsive iframe,
    .video-responsive object,
    .video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
 }
    
