.container-fluid{

   height: 550px;
}
.linkedin{
    
     height: inherit;
     font-family: 'Anton', sans-serif;
}
.in {
    height: inherit;
    background-color: #006f8a;
   
    
}
.in a{
    color:#ffbc49;
    text-decoration: none;
}
.in a span:hover{
    color:rgba(4, 103, 121, 0.6);
}
.in a span,.out span{
       position: relative;
       top:-1%;
       font-size: 20em;
       margin-bottom: 90px;
}
.out{
    height: inherit;
    background-color: #ffbc49;
    color:#006f8a;
    
}



@media (max-width:460px){
    .container-fluid{
        height: 275px;
    }
    .in a span,.out span{
        font-size: 10em;
    }
}