h2{
    font-size: 1.6em;
    font-weight: bolder;
}

.fondo{
    width:100px;
    height: 100px;
    background-size: cover;
    box-sizing: content-box;

    cursor: pointer;
    
}
.texto{
    
    margin-bottom: 23px;
}
.conocimientos{
    height: 500px;
    background-color: #ffbc49;
}
.tituloConocimiento{
    padding:10px;
}
.diapositiva{
    margin-top:15px;
}
@media (max-width:360px){
  
   h2{
        font-size: 1.2em;
        margin-bottom: 15px;
        font-weight: bolder;
    }
    .conocimientos{
        height: 420px;
    }
   }
