<div class=" col-md-6 col-lg-6 col-lg-offset-2 col-xs-6 "
 
>
  
      <div class="row {{iconoMenu}}">
      
            <div class="botonMenu" (mouseenter)="mostrarMenu()" >
                          <button type="button" class="btn btn-link ">
                               <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                          </button>
                          </div>
      </div>
                       
                          <div class="row navegacion "
                           (mouseleave)="ocultarMenu()"
                              >
                              <div class="col-xs-12  ">        
                          <nav  class="menuNavegacion {{menu}}"
                          >
                              <ul>
                                <li> <a routerLink="/home" (click)="ocultarMenu()"><i class="fa fa-home fa-1x"></i> Home</a> </li>
                                  <li> <a routerLink="/cv" (click)="ocultarMenu()"><i class="fa fa-graduation-cap fa-1x"></i> CV</a> </li>
                                  <li><a routerLink="/proyectos" (click)="ocultarMenu()"><i class="fa fa-flag fa-1x"></i> Proyectos</a></li>
                              </ul>
                          </nav>
                              </div>
                          </div>
     </div>
